<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ICBC</key>
	<dict>
		<key>背板</key>
		<string>工商背板.png</string>
		<key>图标</key>
		<string>招商背板-19.png</string>
		<key>背板+</key>
		<string>工商背板+.png</string>
		<key>缩写</key>
		<string>工商缩写.png</string>
	</dict>
	<key>CEB</key>
	<dict>
		<key>背板</key>
		<string>光大背板.png</string>
		<key>图标</key>
		<string>招商背板-23.png</string>
		<key>背板+</key>
		<string>光大背板+.png</string>
		<key>缩写</key>
		<string>光大缩写.png</string>
	</dict>
	<key>GDB</key>
	<dict>
		<key>背板</key>
		<string>广发背板.png</string>
		<key>图标</key>
		<string>招商背板-54.png</string>
		<key>背板+</key>
		<string>广发背板+.png</string>
		<key>缩写</key>
		<string>广发缩写.png</string>
	</dict>
	<key>HXBC</key>
	<dict>
		<key>背板</key>
		<string>华夏背板.png</string>
		<key>图标</key>
		<string>招商背板-57.png</string>
		<key>背板+</key>
		<string>华夏背板+.png</string>
		<key>缩写</key>
		<string>华夏缩写.png</string>
	</dict>
	<key>CCB</key>
	<dict>
		<key>背板</key>
		<string>建设背板.png</string>
		<key>图标</key>
		<string>招商背板-1.png</string>
		<key>背板+</key>
		<string>建设背板+.png</string>
		<key>缩写</key>
		<string>建设缩写.png</string>
	</dict>
	<key>CMBC</key>
	<dict>
		<key>背板</key>
		<string>民生背板.png</string>
		<key>图标</key>
		<string>招商背板-61.png</string>
		<key>背板+</key>
		<string>民生背板+.png</string>
		<key>缩写</key>
		<string>民生缩写.png</string>
	</dict>
	<key>ABC</key>
	<dict>
		<key>背板</key>
		<string>农业背板.png</string>
		<key>图标</key>
		<string>招商背板-49.png</string>
		<key>背板+</key>
		<string>农业背板+.png</string>
		<key>缩写</key>
		<string>农业缩写.png</string>
	</dict>
	<key>PAB</key>
	<dict>
		<key>背板</key>
		<string>平安背板.png</string>
		<key>图标</key>
		<string>招商背板-28.png</string>
		<key>背板+</key>
		<string>平安背板+.png</string>
		<key>缩写</key>
		<string>平安缩写.png</string>
	</dict>
	<key>SPDB</key>
	<dict>
		<key>背板</key>
		<string>浦发背板.png</string>
		<key>图标</key>
		<string>招商背板-46.png</string>
		<key>背板+</key>
		<string>浦发背板+.png</string>
		<key>缩写</key>
		<string>浦发缩写.png</string>
	</dict>
	<key>CIB</key>
	<dict>
		<key>背板</key>
		<string>兴业背板.png</string>
		<key>图标</key>
		<string>招商背板-33.png</string>
		<key>背板+</key>
		<string>兴业背板+.png</string>
		<key>缩写</key>
		<string>兴业缩写.png</string>
	</dict>
	<key>CMB</key>
	<dict>
		<key>背板</key>
		<string>招商背板-10.png</string>
		<key>图标</key>
		<string>招商背板-11.png</string>
		<key>背板+</key>
		<string>招商背板+.png</string>
		<key>缩写</key>
		<string>招商缩写.png</string>
	</dict>
	<key>BOC</key>
	<dict>
		<key>背板</key>
		<string>中国银行背板.png</string>
		<key>图标</key>
		<string>招商背板-36.png</string>
		<key>背板+</key>
		<string>中国银行背板+.png</string>
		<key>缩写</key>
		<string>中国银行缩写.png</string>
	</dict>
	<key>CITIC</key>
	<dict>
		<key>背板</key>
		<string>中信背板.png</string>
		<key>图标</key>
		<string>招商背板-41.png</string>
		<key>背板+</key>
		<string>中信背板+.png</string>
		<key>缩写</key>
		<string>中信缩写.png</string>
	</dict>
	<key>BOCOM</key>
	<dict>
		<key>背板</key>
		<string>交行背板</string>
		<key>图标</key>
		<string>交行图标</string>
		<key>背板+</key>
		<string>交行背板+</string>
		<key>缩写</key>
		<string>交行缩写</string>
	</dict>
	<key>BOS</key>
	<dict>
		<key>背板</key>
		<string>上海背板</string>
		<key>图标</key>
		<string>上海图标</string>
		<key>背板+</key>
		<string>上海背板+</string>
		<key>缩写</key>
		<string>上海缩写</string>
	</dict>
	<key>BOBJ</key>
	<dict>
		<key>背板</key>
		<string>北京背板</string>
		<key>图标</key>
		<string>北京图标</string>
		<key>背板+</key>
		<string>北京背板+</string>
		<key>缩写</key>
		<string>北京缩写</string>
	</dict>
</dict>
</plist>
